Repository JuliaSymbolics/Symbolics.jl, pull requests merged in 2021-11, with the labels that each got.

#437 Remove pirate `ndims` method
  src/arrays.jl
Labels: array variables

#445 add jacobian method for Arr
  src/arrays.jl
  src/diff.jl
  test/arrays.jl
Labels: array variables, differentiation

#433 Don't recurs if we are done
  src/arrays.jl
Labels: array variables

#444 more conscious sparse array handling in build_function
  src/build_function.jl
  test/build_function.jl
Labels: build function, code-generation, sparsity
